.idea

# Egg files
*.egg-info*

# python tmp build directory
build/
_build/

# Staging directory for Debian content
debian/data

# Virtual environment for tests
test_environment/venv

# Unit tests artefacts
test-results.xml
bandit_baseline_result.txt

# Test configuration
tests_integration/configuration/default.yaml

# Test Logs
tests_integration/ui_based_tests/logs/

# PYC files we know that we can ignore
setup_commands/*.pyc
tests_integration/**/*.pyc
tests/**/*.pyc
src/**/*.pyc

# Swims artifacts
FMC_KEY_pubkey.der
swims_client.log

# Ignore Mac DS_Store files
**/.DS_Store
